@page "/categories"
@inject ICategoryApiService CategoryApiService
<h3>Categories</h3>
@* show error messages *@
@if (errorMessage is not null)
{
    <AlertComponent Style="danger" Message="@errorMessage"></AlertComponent>
}
@* show user messages *@
@if(message is not null)
{ 
    <AlertComponent Style="info" Message="@message"></AlertComponent>
}
@if (categoryModels is null)
{
    <LoadingComponent></LoadingComponent>
}
else
{
    @if (newCategory is not null)
    {
        //show the new category form
        <CategoryFormComponent NewCategory="newCategory" OnSave="CreateCategory" OnCancel="Cancel"></CategoryFormComponent>
    }
    else
    {
        @* show category list component *@
        <CategoryListComponent Categories="categoryModels" OnAdd="NewCategory" OnDelete="Delete"></CategoryListComponent>
    }
}
@code {
    private string errorMessage;
    private string message;
    private CreateOrUpdateCategoryModel newCategory;
    private IEnumerable<CategoryModel> categoryModels;
    protected override async Task OnInitializedAsync()
    {
        await GetCategories();
    }
    private async Task GetCategories()
    {
        errorMessage = null;
        categoryModels = null;
        var result = await CategoryApiService.GetAllAsync();
        if (result.IsSuccess)
        {
            categoryModels = result.Data;
        }
        else
        {
            //display error
            errorMessage = string.Join(' ', result.Errors);
        }
    }
    //reacts/handles a click on the 'New' button
    //displays the form
    private void NewCategory()
    {
        errorMessage = null;
        newCategory = new();
    }
    //method to send a post request to create a new category
    private async Task CreateCategory(CreateOrUpdateCategoryModel createOrUpdateCategoryModel)
    {
        //check if id == 0 => new category else update category
        //call service class to send post to api
        if(createOrUpdateCategoryModel.Id.Equals(0))
        {
            var result = await CategoryApiService.CreateAsync(createOrUpdateCategoryModel);
            //show message
            if (result.IsSuccess)
            {
                //show success message
                message = "Category created";
                //Add new category to list
                //categoryModels = categoryModels.Append<CategoryModel>(result.Data);
                //StateHasChanged();
                //or call await GetCategories()
                await GetCategories();
            }
            else
            {
                //show error message
                errorMessage = string.Join("<br>", result.Errors);
            }
        }
        else
        { 
            //update
        }

        //hide form => newCategory = null
        newCategory = null;
    }
    private void Cancel()
    {
        //reset the newCategory to display the list
        newCategory = null;
    }
    private async Task Delete(int id)
    {
        errorMessage = null;
        //call the service method
        if (await CategoryApiService.DeleteAsync(id))
        {
            //show success message
            message = "Category deleted";
        }
        else
        {
            //show errorMessage
            errorMessage = "Category not deleted!";
        }
        //reload the categories
        await GetCategories();
    }
    private void Update(CreateOrUpdateCategoryModel createOrUpdateCategoryModel)
    {
        //set newCategory to update
        newCategory = createOrUpdateCategoryModel;
    }
}
