@page "/categories"
@inject ICategoryApiService CategoryApiService
<h3>Categories</h3>
@* show category list component *@
@if(categoryModels is null)
{ 
    <LoadingComponent></LoadingComponent>
}
else
{ 
    @if(newCategory is not null)
    {
        //show the new category form
        <CategoryFormComponent NewCategory="newCategory" OnSave="CreateCategory"></CategoryFormComponent>
    }
    else
    { 
        <CategoryListComponent Categories="categoryModels" OnAdd="NewCategory"></CategoryListComponent>
    }
}
@code {
    private CreateOrUpdateCategoryModel newCategory;
    private IEnumerable<CategoryModel> categoryModels;
    protected override async Task OnInitializedAsync()
    {
        await GetCategories();
    }
    private async Task GetCategories()
    {
        var result = await CategoryApiService.GetAllAsync();
        if(result.IsSuccess)
        {
            categoryModels = result.Data;
        }
        else
        {
            //display error
        }
    }
    //reacts/handles a click on the 'New' button
    //displays the form
    private void NewCategory()
    {
        newCategory = new();
    }
    //method to send a post request to create a new category
    private async Task CreateCategory(CreateOrUpdateCategoryModel createOrUpdateCategoryModel)
    { 
        
        //call service class to send post to api
        //show message
        //hide form => newCategory = null
    }
}
